.add-product input,
.add-product textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-product input[type=button] {
    background: #00A74D;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.add-product input[type=button]:hover {
    background: #0a5e31;

}