.google-btn-bg {
    background-color: #fff;
    border: 1px solid #229F44;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    transition: .3s;
}

.google-btn-bg:hover{
    background-color: #149c7a74;
}