.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 50px;
}

.contact-title {
    font-size: 60px;
    text-align: center;
}

.contact-img img {
    max-width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 200px;
}

.contact-form input[type=submit] {
    background: #04AA6D;
    color: #fff;
    transition: .3s;
}

.contact-form input[type=submit]:hover {
    background: #086e48;
}

/* Responsive  */
@media (max-width: 1366px) {

    .contact-form textarea {
        height: 145px;
    }

}

@media (max-width: 1200px) {

    .container {
        width: 1200px;
    }

    .contact-form textarea {
        height: 85px;
    }
}


@media (max-width: 576px) {

    .container {
        width: 576px;
        padding: 30px;
    }


}