.mb-50 {
    margin-bottom: 20px;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
    font-weight: bold;
    color: #000;
}

ul.navbar-nav li.nav-item a.nav-link.active,
ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #0097C4;
}

/* Responsive  */
@media (max-width: 768px) {

    button.navbar-toggler {
        background: #F8F9FA;
    }

    .navbar-nav {
        background: #F8F9FA;
        padding: 15px 20px;
    }

}