.login-form input,
.log-reg-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.log-reg-btn {
    background: #229F44;
    color: #fff;
    transition: .3s;
    font-weight: bold;
}

.log-reg-btn:hover {
    background: #134b22;
}

.sign-up-route {
    cursor: pointer;
}