.manage-btn {
    background: #0099BB;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #ddd;
    display: inline-block;
    transition: .3s;
    border-radius: 5px;
}

.manage-btn:hover {
    background: #066176;
}