.mb-40{
    margin-bottom: 40px;
}
.bg-banner {
    width: 100%;
    height: 600px;
    background-image: url('../images/slide2.jpg');
    background-size: cover cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner {
    height: 600px;  
    display: flex;
    align-items: center;
}

.banner h2 {
    font-size: 60px;
    margin-bottom: 25px;
}
.banner h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.banner p {
    font-size: 20px;
}